{% extends 'base.html' %}

{% block content %}
<div class="container mt-7 py-4 mb-2 mb-sm-0 pb-sm-5">
    <h2 class="text-center">Search Result</h2>
    <!-- Shop grid-->
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
            <div class="card card-product card-hover"><a class="card-img-top" href="#"><img src="{{ recipe['recipe']['image'] }}" alt="Product thumbnail"></a>
                <div class="card-body"><a class="meta-link font-size-xs mb-1" href="#">{{ recipe['recipe']['source'] }}</a>
                    <h3 class="font-size-md font-weight-medium mb-2"><a class="meta-link" href="{{ recipe['recipe']['url'] }}">{{ recipe['recipe']['label'] }}</a></h3><span class="text-heading font-weight-semibold">$19.00</span>
                </div>
                <div class="card-footer">
                    <div class="star-rating">
                        <i class="sr-star fe-star-filled active"></i>
                        <i class="sr-star fe-star-filled active"></i>
                        <i class="sr-star fe-star-filled active"></i>
                        <i class="sr-star fe-star"></i>
                        <i class="sr-star fe-star"></i>
                    </div>
                    <div class="d-flex align-items-center">
                        <a class="btn-wishlist" href="#">
                            <i class="fe-heart"></i>
                            <span class="btn-tooltip">Wishlist</span>
                        </a>
                        <span class="btn-divider"></span>
                        <a class="btn-addtocart" href="#">
                            <i class="fe-arrow-right"></i>
                            <span class="btn-tooltip">Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock content %}